# Игнорировать всё
*

# Исключения (не игнорировать)
!/.gitignore
!/main.py
!/voice_client_ui.py
!/utils.py
!/ui.py
!/addon_manager.py
!/voice_client_utils.py
!/voice_client_constants.py
!/voice_client_backend.py

# Дополнительные исключения для системных файлов Git
!.git/
!.git/*