# Игнорировать всё
*

# Исключения (не игнорировать)

!/main.py
!/utils.py
!/addon_data.py
!/install_thread.py
!/addon_manager.py
!/main_window.py
!/voice_client_ui.py
!/voice_client_backend.py
!/voice_client_utils.py
!/voice_client_constants.py

# Дополнительные исключения для системных файлов Git
!.git/
!.git/*